<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

    <div id="form-container">

      <div class="page-header text-center">
        <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".signup"><span>1</span> Sign Up</a>
          <a ui-sref-active="active" ui-sref=".profile"><span>2</span> Profile</a>
          <a ui-sref-active="active" ui-sref=".endereco"><span>3</span> Endereço</a>
        </div>
      </div>

      <!-- ng-submit para capturar os dados -->
      <form novalidate id="signup-form" name="signupForm" ng-submit="processForm()">

        <!-- os steps aparecem aqui -->
        <div id="form-views" ui-view></div>
      </form>

    </div>

    <!-- mostra formData conforme o usuário digita -->
    <pre>
      {{ formData }}
    </pre>

  </div>
</div>
