<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label requiredField" for="country">
        País<span class="asteriskField">*</span>
      </label>
      <select class="select form-control" id="country" name="country" required>
        <option value="value">AR - Argentina</option></option>
        <option value="value">BR - Brasil</option>
        <option value="value">CL - Chile</option>
        <option value="value">CO - Colômbia</option>
        <option value="value">CR - Costa Rica</option>
        <option value="value">CU - Cuba</option>
        <option value="value">DO - República Dominicana</option>
        <option value="value">EC - Equador</option>
        <option value="value">FR - França</option>
        <option value="value">GF - Guiana Francesa</option>
        <option value="value">GT - Guatemala</option>
        <option value="value">HN - Honduras</option>
        <option value="value">HT - Haiti</option>
        <option value="value">IT - Itália</option>
        <option value="value">JM - Jamaica</option>
        <option value="value">MX - México</option>
        <option value="value">NI - Nicarágua</option>
        <option value="value">PA - Panamá</option>
        <option value="value">PE - Peru</option>
        <option value="value">PR - Porto Rico</option>
        <option value="value">PY - Paraguai</option>
        <option value="value">SV - El Salvador</option>
        <option value="value">US - Estados Unidos</option>
        <option value="value">UY - Uruguai</option>
        <option value="value">VE - Venezuela</option>
      </select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">   
    <div class="form-group">
      <label class="control-label requiredField" for="zipCode">
        CEP<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="zipCode" name="zipCode" type="text" required />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label requiredField" for="streetName">
        Rua<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="streetName" name="streetName" type="text" required />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label requiredField" for="number">
        Número<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="number" name="number" type="text" required />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">   
    <div class="form-group">
      <label class="control-label requiredField" for="complement">
        Complemento<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="complement" name="complement" type="text" required />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label requiredField" for="neighbourhood">
        Bairro<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="neighbourhood" name="neighbourhood" type="text" required />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label requiredField" for="state">
        Estado<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="state" name="state" type="text" required />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">   
    <div class="form-group">
      <label class="control-label requiredField" for="city">
        Cidade<span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="city" name="city" type="text" required />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <button type="submit" class="btn btn-info">Cadastrar</button>
    </div>
  </div>
</div>