<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

      <div class="page-header text-center">
        <h1>Cadastra-se</h1>

        <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".signup"><span>1</span> Sign Up</a>
          <a ui-sref-active="active" ui-sref=".profile"><span>2</span> Profile</a>
          <a ui-sref-active="active" ui-sref=".address"><span>3</span> Address</a>
        </div>
      </div>

      <!-- ng-submit para capturar os dados -->
      <form novalidate id="signup-form" ng-submit="processForm()">

        <!-- os steps aparecem aqui -->
        <div id="form-views" ui-view></div>
      </form>

    </div>

    <!-- mostra formData conforme o usuário digita -->
    <pre>
          {{ formData }}
      </pre>

  </div>
</div>
