<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="country">
        País <span class="asteriskField">*</span>
      </label>
      <select class="select form-control" id="country" name="country" ng-model="formData.country" ng-required="true">
        <option value="AR">Argentina</option></option>
        <option value="BR">Brasil</option>
        <option value="CL">Chile</option>
        <option value="CO">Colômbia</option>
        <option value="CR">Costa Rica</option>
        <option value="CU">Cuba</option>
        <option value="DO">República Dominicana</option>
        <option value="EC">Equador</option>
        <option value="FR">França</option>
        <option value="GF">Guiana Francesa</option>
        <option value="GT">Guatemala</option>
        <option value="HN">Honduras</option>
        <option value="HT">Haiti</option>
        <option value="IT">Itália</option>
        <option value="JM">Jamaica</option>
        <option value="MX">México</option>
        <option value="NI">Nicarágua</option>
        <option value="PA">Panamá</option>
        <option value="PE">Peru</option>
        <option value="PR">Porto Rico</option>
        <option value="PY">Paraguai</option>
        <option value="SV">El Salvador</option>
        <option value="US">Estados Unidos</option>
        <option value="UY">Uruguai</option>
        <option value="VE">Venezuela</option>
      </select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="zipCode">
        CEP <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="zipCode" name="zipCode" type="text" ng-model="formData.zipCode" ng-required="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label" for="streetName">
        Rua <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="streetName" name="streetName" type="text" ng-model="formData.streetName" ng-required="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="number">
        Número <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="number" name="number" type="text" ng-model="formData.number" ng-required="true" />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="complement">
        Complemento <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="complement" name="complement" type="text" ng-model="formData.complement" ng-required="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label" for="neighbourhood">
        Bairro <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="neighbourhood" name="neighbourhood" type="text" ng-model="formData.neighbourhood" ng-required="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="state">
        Estado <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="state" name="state" type="text" ng-model="formData.state" ng-required="true" />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label class="control-label" for="city">
        Cidade <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="city" name="city" type="text" ng-model="formData.city" ng-required="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <button type="submit" class="btn btn-block btn-info" ng-disabled="signupForm.$invalid">Cadastrar</button>
    </div>
  </div>
</div>
