<div class="jumbotron">
  <h1 class="text-center">Image Bank</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
  {{mensagem}}
</p>

<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <a href="fotos/new" class="btn btn-primary">Nova foto</a>
          </span>

          <input class="form-control" placeholder="Filtrar pelo título da foto" ng-model="filtro" ng-model-options="{ debounce: 500 }">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <meu-painel class="col-xs-12 col-sm-6 col-md-4 col-lg-3 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">

    <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>

  </meu-painel>
</div>

<meus-titulos></meus-titulos>
