<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
  <meta charset="utf-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/directive.js"></script>
</head>

<body ng-controller="listaTelefonicaCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="jumbotron">
          <h3>{{app}}</h3>
          <table ng-show="contatos.length > 0" class="table">
            <tr>
              <th></th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Operadora</th>
              <th></th>
            </tr>
            <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
              <td><input type="checkbox" ng-model="contato.selecionado"></td>
              <td>{{contato.nome}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.operadora.nome}}</td>
              <td><div ng-style="{'background-color': contato.cor}" class="contato-cor"></div></td>
            </tr>
          </table>
          <hr />
          <input ng-model="contato.nome" class="form-control " type="text" name="" value="">
          <input ng-model="contato.telefone" class="form-control " type="text" name="" value="">
          <select ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" class="form-control" name="">
                <option value="">Selecione uma operadora</option>
              </select>
          <button ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone" class="btn btn-block btn-primary" type="button" name="button">Adicionar Contato</button>
          <button ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" class="btn btn-block btn-danger" type="button" name="button">Apagar Contato</button>

          {{contato}}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
