<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
  <meta charset="utf-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.1/angular-messages.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/directive.js"></script>
</head>

<body ng-controller="listaTelefonicaCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="jumbotron">
          <h2>{{app}}</h2>
          <input ng-model="criterioDeBusca" class="form-control" type="text" name="" value="" placeholder="O que você está buscando?">

          <table ng-show="contatos.length > 0" class="table">
            <tr>
              <th></th>
              <th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
              <th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
              <th>Operadora</th>
              <th>Categoria</th>
              <th>Data</th>
            </tr>
            <tr ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{selecionado: contato.selecionado}">
              <td><input type="checkbox" ng-model="contato.selecionado"></td>
              <td>{{contato.nome}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.operadora.nome}}</td>
              <td>
                <div ng-style="{'background-color': contato.cor}" class="contato-cor"></div>
              </td>
              <td>{{contato.data | date: "dd/mm/yyyy"}}</td>
            </tr>
          </table>

          <form name="contatoForm">
            <input ng-model="contato.nome" ng-required="true" ng-minlength="10" class="form-control " type="text" name="nome" value="" placeholder="Nome">
            <input ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" class="form-control " type="text" name="telefone" value="" placeholder="Telefone">
            <select ng-model="contato.operadora" ng-required="true" ng-options="operadora.nome for operadora in operadoras | orderBy:'nome'" class="form-control" name="operadora">
              <option value="">Selecione uma operadora</option>
            </select>

            <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
              <div ng-message="required && contatoForm.nome.$dirty">
                Por favor, preencha o nome
              </div>
              <div ng-message="minlength">
                Por favor, preencha o nome completo
              </div>
            </div>

            <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
              <div ng-message="required && contatoForm.telefone.$dirty">
                Por favor, preencha o telefone
              </div>
              <div ng-message="pattern && contatoForm.telefone.$dirty">
                O campo telefone deve ter o formato 0000-0000
              </div>
            </div>

            <button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" class="btn btn-block btn-primary" type="button" name="button">Adicionar Contato</button>
            <button ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" class="btn btn-block btn-danger" type="button" name="button">Apagar Contato</button>
          </form>

          <pre style="margin-top: 30px;">{{contato}}</pre>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
